*{
  margin: 0;
  padding: 0;
  }
   
  
  .wrapper{
  width: 860px; 
  margin: 0 auto;

  }
  .wrapper ul{
  list-style: none;
  margin-top: 2%;
  color:rgb(196, 29, 29)
  }
  .wrapper ul li {
  background: #262626;
  width: 170px;
  border: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  font-size: 16px;
  position: relative;
  font-family: poppins;
  text-transform: uppercase;
  font-weight: bold;
  color:rgb(255, 255, 255)
  }
  .wrapper ul li:hover{
  background: crimson; 
  }
  
  .wrapper ul ul{
  display: none;
  }
  .wrapper ul li:hover > ul{
  display: block;
  }
  .wrapper ul ul ul{
  margin-left: 170px;
  top: 0;
  position: absolute;
  }
  .wrapper ul li a{
    color: #fff;
    text-decoration:none;
    }
  .wrapper ul li a:hover {
    color:black;
  }
  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  } 
table th,table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}
