<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>

<body>
  


  <div class="wrapper" style="padding:1px 16px;height:170px;">
    <ul>
  <li><a href="/">Início</a></li>
  <li>produto
    <ul>
      <li><a href="/adicionarProduto" >Adicionar produto</a></li>
      <li><a href="/listarProdutos">Listar produto</a></li>
    </ul>
  </li>
  
  <li>Cliente
    <ul>
       <li><a href="/adicionarCliente" >Adicionar cliente</a></li>
       <li><a href="/listarClientes">Listar clientes</a></li>
    </ul>
  </li>
  
  <li>Nada
    <ul>
     
   </ul>
  </li>
  
  <li>Venda
    <ul>
    
      <li><a href="/listarVendas">Listar Vendas </a></li>
   </ul>
  </li>
  </ul>
  </div>




<div style="padding:1px 16px;height:1000px;">
  
  
  <table>
    <thead>

    

      <tr>
      <th>id</th>
      <th>Nome</th>
      <th>marca</th>
      <th>altura</th>
      <th>largura</th>
      <th>profundidade</th>
      <th>peso</th>
      <th>preço</th>
      <th>add</th>

             
            

      </tr>
    </thead>
    <tbody>  <!--${}:atributo,@{}:link-->
       <tr th:each  ="produto: ${produtos}">
             <td th:text="${produto.idProduto}"></td>
             <td th:text="${produto.nome}"></td>
             <td th:text="${produto.marca}" ></td>
             <td th:text="${produto.altura}" ></td>
             <td th:text="${produto.largura}" ></td>
             <td th:text="${produto.profundidade}" ></td>
             <td th:text="${produto.peso}" ></td> 
             <td th:text="${produto.preco}" ></td> 
             <td>
                <form
                method="POST"
                th:object="${itemPedido}"
                                                                      
                th:action="@{/adicionarUmItem/{id1}/{id2}
                (id1=${idItemPedido},id2=${produto.idProduto})}"

                >
              
              
                <p>quantidade*: 
                  <input type="text" placeholder="quantidade" th:field="*{quantidade}" required/>
                </p>
                
                <input class="hh" type="reset" value="limpa">
                <input class="hh" type="submit" value="adicionar">

                </form>
            </td>
                         
          

       </tr>
      
       <h1>escolher um item </h1>
   
       </tbody>
    </table>
</body>

</html>