<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>

<body>
  

  <div class="wrapper" style="padding:1px 16px;height:170px;">
    <ul>
  <li><a href="/">Início</a></li>
  <li>produto
    <ul>
      <li><a href="/adicionarProduto" >Adicionar produto</a></li>
      <li><a href="/listarProdutos">Listar produto</a></li>
      <li><a href="/listaFretes">Listar fretes</a></li>
    </ul>
  </li>
  
  <li>Cliente
    <ul>
       <li><a href="/adicionarCliente" >Adicionar cliente</a></li>
       <li><a href="/listarClientes">Listar clientes</a></li>
    </ul>
  </li>
  
  <li>Nada
    <ul>
     
   </ul>
  </li>
  
  <li>Venda
    <ul>
    
      <li><a href="/listarVendas">Listar Vendas </a></li>
   </ul>
  </li>
  </ul>
  </div>



<div style="padding:1px 16px;height:170px;">
    <h1>Lista de produtos do seu pedido ,
        valor total: <td th:text="${total}" ></td>reais ,
        imposto:<td th:text="${imposto}" ></td>reais .
    </h1>
    <form
    method="POST"
    th:action="@{/realizarPagamento/{id1}(id1=${idPedido})}"
    >
  
    <input class="hh" type="submit" value="realizar pagamento ">
   </form>

</div>
 
<div style="padding:1px 16px;height:1000px;">


  
  <table>
    <thead>

    

      <tr>
      <th>id</th>
      <th>Nome</th>
      <th>marca</th>
      <th>altura</th>
      <th>largura</th>
      <th>profundidade</th>
      <th>peso</th>
      <th>preço</th>
      <th>quantidade</th>
      <th>editar</th>
      <th>remover</th>
    


      </tr>
    </thead>
    <tbody>  <!--${}:atributo,@{}:link-->
      <tr th:each  ="map : ${map}">
        <td th:text="${map.value.idProduto}"></td>
        <td th:text="${map.value.nome}"></td>
        <td th:text="${map.value.marca}" ></td>
        <td th:text="${map.value.altura}" ></td>
        <td th:text="${map.value.largura}" ></td>
        <td th:text="${map.value.profundidade}" ></td>
        <td th:text="${map.value.peso}" ></td> 
        <td th:text="${map.value.preco}" ></td> 
        <td th:text="${map.key.quantidade}">quantidade</td>                    
        <td>
           <a th:href="@{/editarItem/{id}(id=${map.key.idItemPedido})}">Editar</a>
        </td>

        <td>
           <a th:href="@{/removerItem/{id}(id=${map.key.idItemPedido})}">Remover</a>
       </td>
          
      </tr>
     
    </tbody>
    </table>
</div>
</body>

</html>