<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>



<div class="wrapper">
  <ul>
<li><a href="/">Início</a></li>
<li>produto
  <ul>
    <li><a href="/adicionarProduto">Adicionar produto</a></li>
    <li><a href="/listarProdutos">Listar produtos</a></li>
  </ul>
</li>

<li>Cliente
  <ul>
     <li><a href="/adicionarCliente">Adicionar cliente</a></li>
     <li><a href="/listarClientes">Listar clientes</a></li>
  </ul>
</li>

<li>Pedido
   <ul>
      <li><a href="/paginaComprar">Comprar </a></li>
  </ul>
</li>

<li>nada</li>
</ul>
</div>

    


</html>
