<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1736178040">
<title>Início - Com Spring</title>
</head>



<div class="wrapper">
  <ul>
<li><a href="/">Início</a></li>
<li>produto
  <ul>
    <li><a href="/adicionarProduto" >Adicionar produto</a></li>
    <li><a href="/listarProdutos">Listar produto</a></li>
  </ul>
</li>

<li>Cliente
  <ul>
     <li><a href="/adicionarCliente" >Adicionar cliente</a></li>
     <li><a href="/listarClientes">Listar clientes</a></li>
  </ul>
</li>

<li>nada</li>
<li>nada</li>
</ul>
</div>

<div style="padding:1px 16px;height:1000px;">
  <h1 style="font-size:40px;">Lista de produtos cadastrados</h1>

  <h1>Lista de produtos</h1>
  <table>
    <thead>

    

      <tr>
      <th>id</th>
      <th>Nome</th>
      <th>marca</th>
      <th>altura</th>
      <th>largura</th>
      <th>profundidade</th>
      <th>peso</th>
      <th>preço</th>
      <th>Editar</th>
      <th>Remover</th>
      </tr>
    </thead>
    <tbody>  <!--${}:atributo,@{}:link-->
       <tr th:each  ="produto: ${produtos}">
             <td th:text="${produto.idProduto}"></td>
             <td th:text="${produto.nome}"></td>
             <td th:text="${produto.marca}" ></td>
             <td th:text="${produto.altura}" ></td>
             <td th:text="${produto.largura}" ></td>
             <td th:text="${produto.profundidade}" ></td>
             <td th:text="${produto.peso}" ></td> 
             <td th:text="${produto.preco}" ></td> 
             <td>
               <a th:href="@{/editarProduto/{id}(id=${produto.idProduto})}">Editar</a>
             </td>
             <td>
               <a th:href="@{/removerproduto/{id}(id=${produto.idProduto})}">Remover</a>
             </td>
       </tr>
       </tbody>
    </table>
</body>

</html>