<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>


<div class="wrapper" style="padding:1px 16px;height:170px;">
  <ul>
<li><a href="/">Início</a></li>
<li>produto
  <ul>
    <li><a href="/adicionarProduto" >Adicionar produto</a></li>
    <li><a href="/listarProdutos">Listar produto</a></li>
    <li><a href="/listaFretes">Listar fretes</a></li>
    <li><a href="/desconto">Listar 4 produtos com desconto</a></li>
  </ul>
</li>

<li>Cliente
  <ul>
     <li><a href="/adicionarCliente" >Adicionar cliente</a></li>
     <li><a href="/listarClientes">Listar clientes</a></li>
  </ul>
</li>

<li>Nada
  <ul>
   
 </ul>
</li>

<li>Venda
  <ul>
  
    <li><a href="/listarVendas">Listar Vendas </a></li>
 </ul>
</li>
</ul>
</div>


  

<div style="padding:1px 16px;height:1000px;">
  <body>

   <h1 style="font-size:40px;">Lista de clientes cadastrados</h1>

   <h1>Lista de clientes</h1>
   <table>
     <thead>
       <tr>
       <th>id</th>
       <th>Nome Completo</th>
     
       <th>Gênero</th>
       <th> Data de Nascimento*:</th>
    
     
       <th>Editar</th>
       <th>Remover</th>
      

       </tr>
     </thead>
     <tbody>  <!--${}:atributo,@{}:link-->
                                       
        <tr th:each  ="dependente: ${dependentes}"> 
                                   
              <td th:text="${dependente.idDependente}"></td>
              <td th:text="${dependente.nome}"></td>
              <td th:text="${dependente.genero}" ></td>
              <td th:text="${dependente.dataNascimento}" ></td>
            
         
              <td>
                <a th:href="@{/editarDependente/{id}(id=${dependente.idDependente})}">Editar</a>
              </td>
              <td>
                <a th:href="@{/removerDependente/{id}(id=${dependente.idDependente})}">Remover</a>
              </td>

        </tr>
        </tbody>
     </table>
</body>
</html>
