<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>

<body>
  

  <div class="wrapper" style="padding:1px 16px;height:170px;">
    <ul>
  <li><a href="/">Início</a></li>
  <li>produto
    <ul>
      <li><a href="/adicionarProduto" >Adicionar produto</a></li>
      <li><a href="/listarProdutos">Listar produto</a></li>
    </ul>
  </li>
  
  <li>Cliente
    <ul>
       <li><a href="/adicionarCliente" >Adicionar cliente</a></li>
       <li><a href="/listarClientes">Listar clientes</a></li>
    </ul>
  </li>
  
  <li>Nada
    <ul>
     
   </ul>
  </li>
  
  <li>Venda
    <ul>
    
      <li><a href="/listarVendas">Listar Vendas </a></li>
   </ul>
  </li>
  </ul>
  </div>



<div style="padding:1px 16px;height:1000px;">
    <h1>Confirmar! :
       
        valor total: <td th:text="${total}" ></td>reais ,
        imposto:<td th:text="${imposto}" ></td>reais .
        
    </h1>
    <form
    method="POST"
  
    th:object="${Pedido}"
    th:action="@{/pagar/{id1}(id1=${Pedido.idPedido})}"
    >
    
    <p>cartao*: 
        <input type="text" placeholder="digitar numero de seu cartao" th:field="*{cartao}" required/>
    </p>

    <p>
        <input type="radio" name="situacaoPagamento" 
        value="true" th:field ="*{situacaoPagamento}"required/> Confirmar pagamento
    </p>

    <input class="hh" type="submit" value="pagar">
   </form>

</div>
 
<div>


  
 
</div>
</body>

</html>