<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>



<div class="wrapper">
  <ul>
<li><a href="/">Início</a></li>
<li>produto
  <ul>
    <li><a href="/adicionarProduto">Adicionar cliente</a></li>
    <li><a href="/listarProdutos">Listar clientes</a></li>
  </ul>
</li>

<li>Cliente
  <ul>
     <li><a href="/adicionarCliente">Adicionar produto</a></li>
     <li><a href="/listarClientes">Listar produtos</a></li>
  </ul>
</li>

<li>nada</li>
<li>nada</li>
</ul>
</div>


<div style="padding:1px 16px;height:1000px;">
   <h1 style="font-size:40px;"> adicionarDependente</h1>

   <h1>adicionarDependente</h1>
   <table>
     <thead>
       <tr>
       <th>id</th>
       <th>Nome Completo</th>
      
       <th>Editar</th>
       <th>Remover</th>
       <th>Adicionar Dependente</th>
       <th>Cadastrar Pedido</th>
 
       </tr>
     </thead>
     <tbody>  <!--${}:atributo,@{}:link-->
        <tr th:each  ="cliente: ${clientes}">
              <td th:text="${cliente.idCliente}"></td>
              <td th:text="${cliente.nome}"></td>
              
         
              <td>
                <a th:href="@{/editarCliente/{id}(id=${cliente.idCliente})}">Editar</a>
              </td>
              <td>
                <a th:href="@{/remover/{id}(id=${cliente.idCliente})}">Remover</a>
              </td>

              <td>
                <form
    method="POST"
    th:object="${dependente}"
    th:action="@{/adicionarDependente/{id}(id=${cliente.idCliente})}"
    >


  

    <p>Nome completo*: 
      <input type="text" placeholder="seu nome completo" th:field="*{nome}" required/>
    </p>


    <p>
        Data de Nascimento*:
       <input type="date" placeholder="data" th:field="*{dataNascimento}" required/>
    </p>
    

    <P> Gênero*: </P>
    <p>
      <input type="radio" name="genero" value="Masculino" th:field ="*{genero}"required/>Masculino
    </p>

    <p>
      <input type="radio" name="genero" value="Feminino" th:field ="*{genero}"required/>Feminino
    </p>

    <p>
      <input type="radio" name="genero" value="Não Informado" th:field ="*{genero}"required/>Não Informar
    </p>
    
  
  
    
    <input class="hh" type="reset" value="limpa">
    <input class="hh" type="submit" value="cadastrar!">

    </form>


              </td>

              <td>
                <form
                method="POST"
                th:object="${pedido}"
                th:action="@{/cadastrarPedido/{id}(id=${cliente.idCliente})}"
                >
            
            
              
            
                <p>
                  Forma de Pagamento*:
             
              </p>
            


              <p>
                <input type="radio" name="genero" value="dinheiro" th:field ="*{formaDePagamento}"required/>dinheiro 
              </p>
          
              <p>
                <input type="radio" name="genero" 
                value="cartaoDeCredito" th:field ="*{formaDePagamento}"required/> cartão de crédito
              </p>

            
                <p>
                    Data de Pedido*:
                   <input type="date" placeholder="data" th:field="*{dataPedido}" required/>
                </p>
                
            
         
                
              
              
                
                <input class="hh" type="reset" value="limpa">
                <input class="hh" type="submit" value="fazerPedido!">
            
                </form>
















                  
              </td>

        </tr>
        </tbody>
     </table>
</body>
</html>
