<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1965684192">
<title>Início - Com Spring</title>
</head>

<body>
  
  <div class="wrapper" style="padding:1px 16px;height:170px;">
    <ul>
  <li><a href="/">Início</a></li>
  <li>produto
    <ul>
      <li><a href="/adicionarProduto" >Adicionar produto</a></li>
      <li><a href="/listarProdutos">Listar produto</a></li>
      <li><a href="/listaFretes">Listar fretes</a></li>
      <li><a href="/desconto">Listar 4 produtos com desconto</a></li>
    </ul>
  </li>
  
  <li>Cliente
    <ul>
       <li><a href="/adicionarCliente" >Adicionar cliente</a></li>
       <li><a href="/listarClientes">Listar clientes</a></li>
    </ul>
  </li>
  
  <li>Nada
    <ul>
     
   </ul>
  </li>
  
  <li>Venda
    <ul>
    
      <li><a href="/listarVendas">Listar Vendas </a></li>
   </ul>
  </li>
  </ul>
  </div>



 
<div style="padding:1px 16px;height:1000px;">


  
  <table>
    <thead>

    

      <tr>
      <th>Pedido id</th>
      <th>forma de pagamento </th>
      <th>Listar itens do pedido</th>
    
      <th>Editar Pedido </th>
      <th>Remover Pedido </th>
    
      

             
            

      </tr>
    </thead>
    <tbody>  <!--${}:atributo,@{}:link-->
       <tr th:each  ="i: ${pedidos}">
             <td th:text="${i.idPedido}"></td>
             <td th:text="${i.formaDePagamento}"></td>
            

             <td>            
                <a th:href="@{/listarItens/{id}(id=${i.idPedido})}">lista itens</a>
            </td>
            
             <td>
                <a th:href="@{/editarPedido/{id}(id=${i.idPedido})}">Editar</a>
              </td>
              <td>
                <a th:href="@{/removerPedido/{id}(id=${i.idPedido})}">Remover</a>
              </td>

       </tr>
  


       
      

   
       </tbody>
    </table>
</div>
</body>

</html>