
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color:  #CD5C5C;
  color: white;
}

li a:hover:not(.active) {
  background-color:  #CD5C5C;
  color: white;
}
li {
 border-bottom:1px solid rgb(3, 3, 3);
}
li:nth-child(3){
  border: none;
}

li:nth-child(5){
  border: none;
}
li:nth-child(6){
  border: none;
}

