<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href ="@{/public/123.ico}" rel="icon" type="image/x-icon"/>
  <link th:href ="@{/css/index_style.css}" rel="stylesheet"/>
  <meta name="secret-code" content="1482348438">
<title>Início - Com Spring</title>
</head>

<ul>
  <li><a href="/" class="active">Início</a></li>
  <li><a href="/public/noticias.html">Canais de notícias</a></li>
  <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
  <li><a href="/listarPessoas">Listar pessoas</a></li>

  
  <li><a href="/public/sobre.html">Sobre o site</a></li>
  <li><a href="/public/mandarEmail.html">Mandar um e-Mail</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
	<p> style="font-size: 30px;">R7 falso
	<img th:src="@{/images/R7.jpg}"  style="width: 600px;height: 600px;"/>
  </p>
</div>

</body>
</html>
